.title {
  font-weight: 400;
  font-size: 22px;
  margin: 15px 35px
}

.btn {
  margin: 25px 35px 0 35px;
  padding: 6px;
  background-color: #bfbfbf;
  border-radius: 2px;
  border: 1px solid #afafaf;
  box-shadow: 0 1px 2px -5px;
}
